
@{
    ViewData["Title"] = "AccessDenied";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">         
                    <a asp-controller="Home" asp-action="Index">Geri Dön</a>}
            </div>
        </div>
    </div>
</section>